html {
    padding: 0;
    margin: 0;
}

body {
    font-size: 20px;
    background-color: lightcyan;
    min-width: 200px;
}

h1 {
    font-size: 40px;
}

img {
    width: auto;
    height: 100px;
}
/* Header */

header {
    text-align: center;
    border-bottom: 2px solid black;
}

a {
    color: black;
    font-weight: 700;
    font-size: 20px;
}

/* Main */

main {
    text-align: center;
}

@media only screen and (max-width: 760px) {
    main #left-right {
       flex-direction: column;
    }

    #projects {
        width: 100%;
        margin-bottom: 20px;
    }

    #skills {
        width: 100%;
        border: solid 1px red;
        justify-content: flex-start;
        align-items: flex-start;
        
    }

    #skills h3 {
        display: none;
    }
}

main #left-right {
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

#projects {
    display: flex;
    justify-content: center;
    margin-right: 60px;
    flex-direction: column;
}


#skills {
    display: flex;
    justify-content: center;
    
    flex-direction: column;
}

#img {
    display: inline-flex;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
